<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HYS.Properties.Settings.HospitalDBConnectionString"
            connectionString="Data Source=MATEBOOK\SQLEXPRESS;Initial Catalog=HospitalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>